<!DOCTYPE html>
<html lang="en" dir=ltr>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
	<link rel="stylesheet" type="text/css" href="/static/css/aboutme_stylesheet.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<h1 id="site-title">Weather Data API</h1>
		<div class="menu">
			<ul class="menu">
				<li class="nav"><a href="/" class="link">Home</a></li>
				<li class="nav"><a href="/about_me" class="link">About Me</a></li>
			</ul>
		</div>
	</header>

	<div id="about-text">
		<h2>About Me</h2>
		<hr style="height:2px;border-width:0;width:20%;color:white;background-color:white">
	</div>





</body>
</html>