<!DOCTYPE html>
<html lang="en" dir=ltr>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Weather Data API</title>
	<link rel="stylesheet" type="text/css" href="/static/css/index_stylesheet.css">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<h1 id="site-title">Weather Data API</h1>
		<div class="menu">
			<ul class="menu">
				<li class="nav"><a href="" class="link">Home</a></li>
				<li class="nav"><a href="/about_me" class="link">About Me</a></li>
			</ul>
		</div>
	</header>

	<!-- API_GET BUTTON -->
	<div class="svg-wrapper">
    	<svg height="80" width="300" xmlns="http://www.w3.org/2000/svg">
        	<rect id="shape" height="80" width="300" />
        	<div id="text">
          	<a href="/api_get"><span class="spot"></span>Get Weather Data</a>
        	</div>
      	</svg>
    </div>

	<div id="about">
	</div>





</body>
</html>